<!-- 
project: IBT24/25, xkubec03
author: Viktor Kubec
file: cable_create.html

brief:
Template for cable extension panel view - shows additional cable data on the cable page
NOTE: does not work!!!
-->
{% if extension %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cable Extension</h3>
    </div>
    <div class="panel-body">
        <strong>Length:</strong> {{ extension.cable_length }}<br />
        <strong>Manufacturer:</strong> {{ extension.manufacturer }}
    </div>
</div>
{% endif %}